*.eld
*.sqlite
.cache/
.lsp-session-v1
.org-id-locations
auto-save-list/
backups/
bookmarks
eln-cache/
elpa/
eshell/
gnus/
history
ido.last
multisession/
places
projects
secrets/
tramp
transient/
tree-sitter/
url/
var/
